{% extends "hallOfFameClient/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% load static hallOfFame_extra %}
{% block title %}{{ original|truncatewords:"18" }}{% endblock %}
{% block herotitle %}{{ original|truncatewords:"18" }}{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <style>
        .delete, .delete:hover, .delete:active{
            width: auto;
            position: static;
            max-width: none;
            max-height: none;
            background: none;
        }
        p.deletelink-box{
            height: 35px;
        }
        a.deletelink{
            height: 100% !important;
        }
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{#{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}#}

{% if not is_popup %}
{% block breadcrumb %}
<section style="padding: 1rem" class="section card">
    <div class="container">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
                <li>{% if has_view_permission %}
                    <a href="{% url opts|admin_urlname:'changelist' %}">
                {% else %}
                    <a class="is-active" href="#" aria-current="page">
                {% endif %}
                {{ opts.verbose_name_plural|capfirst }}</a></li>
            {% if add %}
                <li class="is-active">{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}</li>
            {% else %}
                <li class="is-active"><a class="is-active" href="#" aria-current="page">{{ original|truncatewords:"18" }}</a></li>
            {% endif %}
                <li class="is-active"><a href="#"></a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
{% endif %}

{% block content %}
<section class="section">
<div class="columns is-centered">
    <div class="column is-four-fifths tile is-ancestor is-vertical">
    {% block object-tools %}
    {% if change %}{% if not is_popup %}
      <div class="navbar is-fullwidth">
        <div class="navbar-end">
        {% block object-tools-items %}
            <ul class="navbar-item">
                {% change_form_object_tools %}
            </ul>
        {% endblock %}
        </div>
      </div>
    {% endif %}{% endif %}
    {% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <article class="message is-danger">
        <div class="message-body">
        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </div>
    </article>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div></div></section>
{% endblock %}
