{% extends 'hallOfFameClient/base.html' %}
{% load static %}
{% block title %}Student Login{% endblock %}
{% block hero %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% comment %}{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}{% endcomment %}

{% block content %}
    <section class="is-paddingless is-marginless" style="width: 100vw; height: 100vh;">
        <div class="columns is-gapless is-overlay is-desktop is-vcentered has-background-light">
            <div class="column is-5 is-relative is-hidden-touch" style="height: 100%; background: rgb(15,69,105);">
                <span class="icon has-text-info" style="position:absolute; top:0; left: -25vh; font-size: 500%; overflow: hidden; width: 50vh; height: 100vh;">
                    <i class="fas fa-7x fa-user-tie"></i>
                </span>
                <div class="navbar-brand">
                    <a href="{% url "world:main" %}" class="navbar-item">
                        <img src="{% static 'img/ostatniLearningInfo.png' %}" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="column is-hidden-desktop has-text-centered" style="background: rgb(15,69,105);">
                <div class="navbar-brand">
                    <a href="{% url "world:main" %}" class="navbar-item">
                        <img src="{% static 'img/ostatniLearningInfo.png' %}" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="column is-7-desktop columns is-mobile is-touch is-vcentered" style="height: 90%;">
                <div class="column has-text-centered ">
                    {% if message %}
                    <article class="message is-info is-inline-block" style="max-width: 60%;">
                        <div class="message-body">
                        {{ message }}
                        </div>
                    </article><br/>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <article class="message is-warning is-inline-block" style="max-width: 60%;">
                        <div class="message-body">
                        You are authenticated as {{ username }}, but are not authorized to
                        access this page. Would you like to login to a different account?
                        </div>
                    </article><br/>
                    {% endif %}
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <article class="message is-danger is-inline-block" style="max-width: 60%;">
                        <div class="message-body">
                        {{ error }}
                        </div>
                    </article><br/>
                    {% endfor %}
                    {% endif %}
                    <form action="{{ app_path }}" method="post" id="login-form" class="is-inline-block"
                          style="min-width: 40%;">
                        {% csrf_token %}
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" name="username" placeholder="Username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        {% url 'admin_password_reset' as password_reset_url %}
                        {% if password_reset_url %}
                        <div class="password-reset-link">
                            <a href="{{ password_reset_url }}">Forgotten your password or username?</a>
                        </div>
                        {% endif %}
                        <div class="field">
                            <p class="control">
                                <button type="submit" class="button is-info">
                                    Log in
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% comment %}
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}">
  </div>
</form>{% endcomment %}
{% endblock %}
