{% extends 'hallOfFameStudent/base_site.html' %}
{% load static hallOfFame_extra%}
{% block title %}Dashboard{% endblock %}
{% block herotitle %}My Dashboard{% endblock %}
{% block breadcrumb %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="#" aria-current="page">Home</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section
            style='background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns is-centered">
            <div class="column is-four-fifths-desktop is-11-tablet is-12-mobile">
                <div class="columns is-desktop">
                    <div class="column is-7-desktop">
                        {% include 'hallOfFameStudent/includes/student_courses_panel.html' with courses=courses total_ETCS=total_ETCS %}
                    </div>
                    <div class="column">
                        {% include 'hallOfFameStudent/includes/lastgrades_chart.html' with chart_ID="scoreChart" chart_data=score_diagram %}
                        {% include 'hallOfFameStudent/includes/student_statistics_panel.html' with averages=averages %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}