{% extends 'hallOfFameClient/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block brand %}
    <div class="navbar-brand">
        {#        {% if color == "is-primary" %}#}
        <a href="{% url "student:dashboard" %}" class="navbar-item">
            <img src="{% static 'img/ostatniLearningPrimary.png' %}" alt="Logo">
            {#        {% else %}#}
            {#        <a href="#" class="navbar-item">#}
            {#            <img src="{% static 'img/ostatniLearningInfo.png' %}" alt="Logo">#}
            {#        {% endif %}#}
        </a>
    </div>
{% endblock %}
{% block herotitle %}My Dashboard{% endblock %}
{% block breadcrumb %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="#" aria-current="page">Home</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section
            style='background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns">
            <div class="column is-6 is-offset-1">
                {% include 'hallOfFameStudent/student_courses_panel.html' with courses=courses total_ETCS=total_ETCS %}
            </div>
            <div class="column is-4">
                {% include 'hallOfFameStudent/lastgrades_chart.html' with chart_ID="scoreChart" chart_data=score_diagram %}
                {% include 'hallOfFameStudent/student_statistics_panel.html' with averages=averages %}
            </div>
        </div>
    </section>
{% endblock %}