{% extends 'hallOfFameClient/base.html' %}
{#{{ forloop.counter }}#}
{% load static %}
{% block title %}{{ subject.name }}{% endblock %}
{% block brand %}
    <div class="navbar-brand">
        <a href="{% url "student:dashboard" %}" class="navbar-item">
            <img src="{% static 'img/ostatniLearningPrimary.png' %}" alt="Logo">
        </a>
    </div>
{% endblock %}
{% block herotitle %}{{ subject.name }}{% endblock %}
{% block breadcrumb %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'student:dashboard' %}" aria-current="page">Home</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ subject.name }}</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section
            style='min-height: 79vh; background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns">
            <div class="column is-4 is-offset-1">
                {% include 'hallOfFameStudent/student_exercises_panel.html' with group_name="2BC" exercises=group_exercises %}
            </div>
            <div class="column is-6">
                {% include 'hallOfFameStudent/group_ranks_panel.html' %}
            </div>
        </div>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                {% include 'hallOfFameStudent/group_ranks_chart.html' with chart_name="Group Ranking Timeline" chart_ID="rankChart" %}
            </div>
        </div>
    </section>
{% endblock %}