{% load static %}
<script src="{% static 'js/Chart.min.js' %}"></script>
{% comment %}https://www.chartjs.org/docs/latest/{% endcomment %}
<script src="{% static 'js/jsspectrum.min.js' %}"></script>
{% comment %}https://gist.github.com/ibrechin/2489005#file-jsspectrum-js{% endcomment %}
<article class="panel is-dark" style="height: 100%; background: #ebfffc;">
    <div class="panel-heading is-size-3 has-text-centered has-text-light" style="border-bottom: 4px solid #00D1B2; background: rgb(0,82,69);">
        <p class="has-text-centered">
            {{ chart_Name }}
        </p>
    </div>
    <div class="panel-block has-text-light is-block" style="border-bottom: 2px solid #f5f5f5; background: rgb(0,82,69);">
        <nav class="level is-fullwidth is-mobile">
            <div class="level-item has-text-centered has-text-light">
                <div>
                    <p class="heading">Last Update</p>
                    <a class="title has-text-light is-size-1">
                        {{ updatetime|default:"10.05.2020" }}
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="panel-block has-text-light" style="background: rgb(0,82,69);">
    </div>
    <div class="panel-block is-block">
        <canvas id="{{ chart_ID }}" width="400" height="300"></canvas>
    </div>
</article>
<script>
var ctx = document.getElementById('{{ chart_ID }}').getContext('2d');
var yLabels = {
    0 : 'Michał Krawczyk', 1 : 'Szymon Kania', 2 : 'Jakub Niechaj',
    3 : 'Karol Hamielec', 4 : 'Arkadiusz Cwikla', 5 : 'Krzysztof Retkiewicz',
    6 : 'Mateusz Kowalski', 7 : 'Darek Biela', 8 : 'Krzysztof Bosak'
}
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [0,1,2,3,4,5],
        datasets: [{
            label: 'Michał Krawczyk',
            data: [2,2,3,4,2,3],
            yAxisID: 'y_rankings',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        },{
            label: 'Szymon Kania',
            data: [3,4,1,3,3,2],
            yAxisID: 'y_rankings',
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    steps: 8,
                    stepValue: 1,
                    max: 8,
                    callback: function(value, index, values) {
                        return yLabels[value];
                    }
                },
                id: 'y_names',
                position: 'left'
            },{
                ticks: {
                    min: 1,
                    steps: 8,
                    stepValue: 1,
                    max: 9,
                    reverse: true
                },
                id: 'y_rankings',
                position: 'right'
            }]
        }
    }
});
</script>