{% extends 'hallOfFameStudent/base_site.html' %}
{#{{ forloop.counter }}#}
{% load static %}
{% block title %}{{ subject.name }}{% endblock %}
{% block herotitle %}{{ subject.name }}{% endblock %}
{% block breadcrumb %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'student:dashboard' %}" aria-current="page">Home</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ subject.name }}</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section
            style='min-height: 79vh; background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns">
            <div class="column is-4 is-offset-1">
                {% include 'hallOfFameStudent/includes/student_exercises_panel.html' with group_name=name checked=exercises.checked pending=exercises.pending %}
            </div>
            <div class="column is-6">
                {% include 'hallOfFameStudent/includes/group_ranks_panel.html' with my_ranking=my_ranking group_ranking=group_ranking%}
            </div>
        </div>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                {% include 'hallOfFameStudent/includes/group_ranks_chart.html' with chart_name="Group Ranking Timeline" chart_ID="rankChart" %}
            </div>
        </div>
    </section>
{% endblock %}