<article class="panel is-dark" style="max-height: 100%">
    <div class="panel-heading is-size-3 has-text-centered has-text-light" style="border-bottom: 4px solid #00D1B2; background: #00917C;">
        <p class="has-text-centered">
            Courses
        </p>
    </div>
    <div class="panel-block has-text-light is-block" style="border-bottom: 2px solid #f5f5f5; background: #005245;">
        <div class="columns is-gapless is-mobile">
            <div class="column is-4 has-text-centered has-text-light">
                <div class="is-pulled-right">
                    <p class="heading">My Courses</p>
                    <a class="title has-text-light is-size-1">
                        {{ courses|length }}
                    </a>
                </div>
            </div>
            <p class="is-hidden-mobile column is-4 has-text-centered has-text-light">
                <span class="icon is-large is-size-4 has-text-primary">
                    <i class="fas fa-5x fa-university"></i>
                </span>
            </p>
            <div class="column is-4 has-text-centered has-text-light">
                <div class="is-pulled-left">
                    <p class="heading">Total ETCS</p>
                    <a class="title has-text-light is-size-1">
                        {{ total_ETCS|default:69 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="panel-block has-text-light" style="background: #005245">
    </p>
    <div class="panel-block is-block is-paddingless table-container">
        <table class="table card is-striped is-hoverable is-fullwidth">
            <thead>
            <tr class="is-bold" style="background: #ebfffc">
                <th></th>
                <th><abbr title="Name of the subject">Subject</abbr></th>
                <th><abbr title="Description of the subject">Description</abbr></th>
                <th><abbr title="Your course group">Group</abbr></th>
                <th><abbr title="ETCS points value">ETCS</abbr></th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                {% with sub=course.subject %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td class="is-paddingless is-fullheight">
                        <a href="{% url 'student:subject' course.id %}" style="background: none; border: none;"
                           class="has-text-left button is-block is-fullheight is-fullwidth is-radiusless">
                            {{ sub.name }}
                        </a>
                    </td>
                    <td>
                        <p class="is-info">{{ sub.description }}</p>
                    </td>
                    <td>
                        <p class="is-info">{{ course.name }}</p>
                    </td>
                    <td>
                        <p class="is-info">{{ sub.etcs }}</p>
                    </td>
                </tr>
                {% endwith %}
            {% empty %}
                <tr>
                    <td colspan="3">
                        <h1 class="subtitle">No subjects yet.</h1>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</article>