{% load hallOfFame_extra %}
<article class="panel is-danger" style="height: 100%">
    <p class="panel-heading is-size-3 navbar has-shadow has-text-centered has-text-light">
            <span style="width: 100%; text-align: center;">
                Group {{ group_name }}
            </span>
    </p>
    <p class="panel-block has-text-light has-background-danger">
    </p>
    <p class="panel-tabs is-size-6 ">
        <a class="is-active">
            <span class="icon is-small">
                <i class="fas fa-user-check"></i>
            </span>
            <span>Checked Assignments</span>
        </a>
        <a>
            <span class="icon is-small">
                <i class="fas fa-user-clock"></i>
            </span>
            <span>Pending Assignments</span>
        </a>
    </p>
    {% for score in exercises %}
    {% with exe=score.exercise %}
        <a class="panel-block is-block">
            <nav class="level is-fullwidth">
                <div class="level-item column is-one-fifth is-vcentered">
                    <span>
                        <i class="far fa-flag" aria-hidden="true"></i>
                    </span>
                    <span>
                        Exercise: {{ exe.name }}
                    </span>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Note</p>
                        <p class="title">
                            {{ score.value }}
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Percentage</p>
                        <p class="title">
                            {{  score.value|percent:exe.max_score|roundTo:2 }}%
                        </p>
                    </div>
                </div>
            </nav>
        </a>
    {% endwith %}
    {% empty %}
        <a class="panel-block is-block">
            <nav class="level is-fullwidth">
                <div class="level-item">
                    <h1 class="subtitle">No exercises yet.</h1>
                </div>
            </nav>
        </a>
    {% endfor %}
</article>