{% load static %}
<script src="{% static 'js/Chart.min.js' %}"></script>
{% comment %}https://www.chartjs.org/docs/latest/{% endcomment %}
<script src="{% static 'js/jsspectrum.min.js' %}"></script>
{% comment %}https://gist.github.com/ibrechin/2489005#file-jsspectrum-js{% endcomment %}
<script src="{% static 'js/functions.js' %}"></script>
<article class="panel is-dark" style="height: 100%; background: #ebfffc;">
    <div class="panel-heading is-size-3 has-text-centered has-text-light"
         style="border-bottom: 4px solid #00D1B2; background: rgb(0,82,69);">
        <p class="has-text-centered">
            {{ chart_Name |default:"Rankings in time" }}
        </p>
    </div>
    <div class="panel-block has-text-light is-block"
         style="border-bottom: 2px solid #f5f5f5; background: rgb(0,82,69);">
        <nav class="level is-fullwidth is-mobile">
            <div class="level-item has-text-centered has-text-light">
                <div>
                    <p class="heading">Last Update</p>
                    <a class="title has-text-light is-size-1">
                        {{ chart_data.days.0|default:"10.05.2020" }}
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="panel-block has-text-light" style="background: rgb(0,82,69);">
    </div>
    <div class="panel-block is-block" style="overflow-x: auto;">
        <div style="min-width: 600px;">
        <canvas id="{{ chart_ID }}" width="300" height="{% widthratio chart_data|length 1 30 %}"></canvas>
        </div>
    </div>
</article>
{{ chart_data|json_script:"chart-data" }}
<script>
    function getRandomIntInclusive(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function getRandomColor() {
        let colo = getRandomIntInclusive;
        return `rgba(${colo(30, 230)},${colo(10, 210)},${colo(20, 220)},1.0)`
    }

    let ctx = document.getElementById('{{ chart_ID }}').getContext('2d');
    let chartData = JSON.parse(document.getElementById('chart-data').textContent);
    console.log(chartData);
    let chartDataset = [];
    let last = 0;
    if (chartData.rankings[0]) {
        last = chartData.rankings[0].length;
        for (let [key, value] of Object.entries(chartData.rankings[0])) {
            let chartObj = {
                label: `${value.name} ${value.surname}`,
                yAxisID: 'y_rankings',
                data: [],
                borderWidth: 2,
                backgroundColor: [
                    'rgba(0, 0, 0, 0.0)'
                ],
                borderColor: [
                    getRandomColor()
                ],
            };
            chartData.rankings.forEach((rank) => {
                if (rank[key])
                    chartObj.data.push(rank[key].pos)
                else
                    chartObj.data.push(last)
            });
            chartObj.data = chartObj.data.reverse();
            chartDataset.push(chartObj);

            if (chartData.important == key) {
                chartObj.borderWidth = 5;
                chartObj.borderColor = '#a61f3a';
            }
        }

    }
    console.log(chartDataset);


    let yLabels = {
        {#0: 'Michał Krawczyk', 1: 'Szymon Kania', 2: 'Jakub Niechaj',#}
        {#3: 'Karol Hamielec', 4: 'Arkadiusz Cwikla', 5: 'Krzysztof Retkiewicz',#}
        {#6: 'Mateusz Kowalski', 7: 'Darek Biela', 8: 'Krzysztof Bosak'#}
    };
    let defaultsChart = {
        backgroundColor: [
            'rgba(255, 99, 132, 0.0)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 2,
    };
    let myChart = new Chart(ctx, {
        type: 'line',
        axisX: {
            reversed: true
        },
        data: {
            labels: chartData.days.reverse().map((val)=>getPrettyDate(Date.parse(val))),
            datasets: chartDataset,
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        steps: last,
                        precision: 0,
                        stepSize: 1,
                        max: last,
                        callback: function (value, index, values) {
                            return yLabels[value];
                        }
                    },
                    id: 'y_names',
                    position: 'left'
                }, {
                    ticks: {
                        min: 1,
                        steps: last,
                        stepSize: 1,
                        max: last,
                        reverse: true
                    },
                    id: 'y_rankings',
                    position: 'right',
                }],
            }
        }
    });
</script>