{% load  hallOfFame_extra%}
<article class="panel is-dark" style="background: #f5f5f5;">
    <div class="panel-heading is-size-3 has-background-grey-dark" style="border-bottom: 2px solid #f5f5f5;">
        <p class="has-text-centered">
            Student statistics
        </p>
    </div>
    <p class="panel-block has-text-light has-background-grey-dark">
    </p>
    <div class="panel-block is-block">
        <div class="columns is-centered">
            <div class="column is-center
            is-three-quarters-desktop is-fullwidth-tablet is-three-fifths-mobile is-offset-one-fifth-mobile
            is-vertical">
                <div style="padding-left: 0; padding-right: 0;" class="card notification">
                    <div class="container has-text-centered ">
                        <p style="font-size: 5.2rem;" class="title">{{ averages.my_average|round_to:2 }}%</p>
                        <p class="subtitle">My Average</p>
                    </div>
                </div>
                <div style="padding-left: 0; padding-right: 0;" class="card notification">
                    <div class="container has-text-centered">
                        <p style="font-size: 3.5rem" class="title">{{ averages.semester_average|round_to:2 }}%</p>
                        <p class="subtitle is-6">Overall Average</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if determination %}
    <div class="panel-block level">
        <div class="level-item"></div>
        <button class="button is-warning level-item">
            <span class="icon">
                <i class="fas fa-chart-pie"></i>
            </span>
            <span>More statistics</span>
        </button>
        <div class="level-item"></div>
    </div>
    {% endif %}
</article>