{% extends 'hallOfFameClient\base.html' %}
{% load static %}

{% block hero %}
  {% with 'info' as primary_color %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block brand %}
    <div class="navbar-brand">
        <a href="{% url "world:main" %}" class="navbar-item">
            <img src="{% static 'img/ostatniLearningInfo.png' %}" alt="Logo">
        </a>
        <div class="navbar-item is-hidden-desktop">
        {% block mob_logout %}
        <a href="{% url "lecturer:logout" %}" class="button is-{{ primary_color }} is-outlined is-inverted">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>
        </a>
        {% endblock %}
        </div>
    </div>
{% endblock %}