{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{% block stylefremework %}{% static 'css/bulma.min.css' %}{% endblock %}">
    {% block extrastyle %}
    {#    <style>#}
    {#        section,#}
    {#        section *{#}
    {#            margin: 0;#}
    {#            padding: 0;#}
    {#        }#}
    {#    </style>#}
    {% endblock %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    {% block hero %}
    <section class="hero is-{{ primaryColor }} is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    {% block brand %}{% endblock %}
                    {% block navbar %}
                        <div class="navbar-menu">
                            <div class="navbar-end">
                                <a class="navbar-item has-text-light">
                                    <span class="is-size-5" style="margin-right: .5rem">{{ username }}</span>
                                    <span class="icon">
                                        <i class="fas fa-lg fa-user-cog"></i>
                                    </span>
                                </a>
                                <span class="navbar-item">
                                    <a href="{% url "world:main" %}" class="button is-{{ primaryColor }} is-inverted">
                                        <span class="icon">
                                            <i class="fas fa-sign-out-alt"></i>
                                        </span>
                                        <span>Sign out</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title heading is-size-1 has-text-centered">
                    {% block herotitle %}{% endblock %}
                </h1>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block breadcrumb %}{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>