{% extends 'hallOfFameClient/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block brand %}
    <div class="navbar-brand">
{#        {% if color == "is-primary" %}#}
        <a href="{% url "student:dashboard" %}" class="navbar-item">
            <img src="{% static 'img/ostatniLearningPrimary.png' %}" alt="Logo">
{#        {% else %}#}
{#        <a href="#" class="navbar-item">#}
{#            <img src="{% static 'img/ostatniLearningInfo.png' %}" alt="Logo">#}
{#        {% endif %}#}
        </a>
    </div>
{% endblock %}
{% block herotitle %}My Dashboard{% endblock %}
{% block breadcrumb %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="#" aria-current="page">dashboard</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{#    {% include 'hallOfFameClient/user_hero.html' with username=username color="is-primary" pageName="My Dashboard" %}#}
{% endblock %}
{% block content %}
    <section
            style='background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns">
            <div class="column is-6 is-offset-1">
                {% include 'hallOfFameClient/student_subject_panel.html' with subjects=object_list %}
            </div>
            <div class="column is-4">
                {% include 'hallOfFameClient/vertical_bars_chart.html' with chartName="Last 5 grades" chartID="notesChart" chartData=diagramData chartLabel=diagramLabel %}
                <article class="message is-{{ primaryColor }}">
                    <div class="message-header">
                        <h1 style="width: 100%; text-align: center;" class="title has-text-light">Statistics</h1>
                    </div>
                    <div class="message-body">
                        <div class="columns is-centered">
                            <div class="column is-center
                            is-three-quarters-desktop is-fullwidth-tablet is-three-fifths-mobile is-offset-one-fifth-mobile
                            is-vertical">
                                <div style="padding-left: 0; padding-right: 0;" class="card notification">
                                    <div class="container has-text-centered ">
                                        <p style="font-size: 5.2rem;" class="title">{{ myAverage }}%</p>
                                        <p class="subtitle">My Average</p>
                                    </div>
                                </div>
                                <div style="padding-left: 0; padding-right: 0;" class="card notification">
                                    <div class="container has-text-centered">
                                        <p style="font-size: 3.5rem" class="title">{{ semesterAverage }}%</p>
                                        <p class="subtitle is-6">Overall Average</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}