{% extends 'hallOfFameClient/base.html' %}
{% load static hallOfFame_extra %}
{% block title %}Dashboard{% endblock %}
{% block brand %}
    <div class="navbar-brand">
        <a href="#" class="navbar-item">
            <img src="{% static 'img/ostatniLearningInfo.png' %}" alt="Logo">
        </a>
    </div>
{% endblock %}
{% block herotitle %}My Dashboard{% endblock %}
{% block breadcrumb %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="#" aria-current="page">Home</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section
            style='min-height: 79vh; background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns is-centered">
            <div class="column is-four-fifths tile is-ancestor is-vertical">
                {% for sub in subjects %}
                    {% if forloop.counter0|divisibleby:2 %}<div class="tile is-parent columns">{% endif %}
                    {% include 'hallOfFameClient/lecturer_course_tile.html' with groups=groups_by_sub|key:sub.pk sub=sub  %}
                    {% if forloop.counter|divisibleby:2 %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
