{% extends 'hallOfFameClient/base.html' %}
{% load static hallOfFame_extra %}
{% block title %}Dashboard{% endblock %}
{% block brand %}
    <div class="navbar-brand">
        <a href="#" class="navbar-item">
            <img src="{% static 'img/ostatniLearningInfo.png' %}" alt="Logo">
        </a>
    </div>
{% endblock %}
{% block herotitle %}My Dashboard{% endblock %}
{% block breadcrumb %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li class="is-active"><a href="#" aria-current="page">dashboard</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section
            style='min-height: 79vh; background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns is-centered">
            <div class="column is-half">
                {% for sub in subjects %}
                    <article class="panel is-{{ primaryColor }}">
                        <p class="panel-heading ">
                            {{ sub.name }}
                        </p>
                        <a href=" {% url "lecturer:hallOfFameClient_subject_change" sub.pk %}">Edit</a>
                        <p class="panel-block subtitle">
                            {{ sub.description }}
                        </p>
                        <div class="panel-block columns is-centered">
                            <div class="column is-four-fifths">
                                {% include 'hallOfFameClient/lecturer_groups_panel.html' with groups=groups_by_sub|key:sub.pk %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
