{% extends 'hallOfFameClient/base.html' %}
{% load static %}
{% block content %}
{#{{ forloop.counter }}#}
    {% include 'hallOfFameClient/user_hero.html' with username=username color="is-primary" pageName=subject.name %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'student:dashboard' %}" aria-current="page">dashboard</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ subject.name }}</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}