<article class="panel is-dark">
    <p class="panel-heading is-size-3 has-text-centered has-text-light" style="border-bottom: 4px solid #ffdd57">
        <span style="width: 100%; text-align: center;">
            Group {{ groupName }}
        </span>
    </p>
    <div class="panel-block has-text-light has-background-dark is-block" style="border-bottom: 2px solid #f5f5f5">
        <nav class="level is-fullwidth">
            <div class="level-item has-text-centered has-text-light">
                <div>
                    <p class="heading">My Average</p>
                    <a class="title has-text-light is-size-1">
                        88%
                    </a>
                </div>
            </div>
            <div>
                <span class="icon is-large is-size-4 has-text-warning">
                    <i class="fas fa-4x fa-trophy"></i>
                </span>
            </div>
            <div class="level-item has-text-centered has-text-light">
                <div>
                    <p class="heading">My Group Rank</p>
                    <a class="title has-text-light is-size-1">
                        #12
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <p class="panel-block has-text-light has-background-dark">
    </p>
    <p class="panel-tabs is-size-6 ">
        <a class="is-active">
            <span class="icon is-small">
                <i class="fas fa-user-check"></i>
            </span>
            <span>Checked Assignments</span>
        </a>
        <a>
            <span class="icon is-small">
                <i class="fas fa-user-clock"></i>
            </span>
            <span>Pending Assignments</span>
        </a>
    </p>
    <a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth is-vcentered">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 1
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        4
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        80%
                    </p>
                </div>
            </div>
        </nav>
    </a>
    <a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 2
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        4.5
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        90%
                    </p>
                </div>
            </div>
        </nav>
    </a>
    <a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 3
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        4
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        80%
                    </p>
                </div>
            </div>
        </nav>
    </a><a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 4
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        3.5
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        70%
                    </p>
                </div>
            </div>
        </nav>
    </a>
    <a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Test 1
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        3
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        50%
                    </p>
                </div>
            </div>
        </nav>
    </a><a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 5
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        3.5
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        80%
                    </p>
                </div>
            </div>
        </nav>
    </a>
</article>