<article class="panel is-dark">
    <p class="panel-heading is-size-3 has-text-centered has-text-light" style="border-bottom: 4px solid #ffdd57">
        <span style="width: 100%; text-align: center;">
            Rankings
        </span>
    </p>
    <div class="panel-block has-text-light has-background-dark is-block" style="border-bottom: 2px solid #f5f5f5">
        <nav class="level is-fullwidth">
            <div class="level-item has-text-centered has-text-light">
                <div>
                    <p class="heading">My Average</p>
                    <a class="title has-text-light is-size-1">
                        98%
                    </a>
                </div>
            </div>
            <div>
                <span class="icon is-large is-size-4 has-text-warning">
                    <i class="fas fa-4x fa-trophy"></i>
                </span>
            </div>
            <div class="level-item has-text-centered has-text-light">
                <div>
                    <p class="heading">My Group Rank</p>
                    <a class="title has-text-light is-size-1">
                        #12
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <p class="panel-block has-text-light has-background-dark">
    </p>
    <p class="panel-block is-block is-paddingless">
        <table class="table is-fullwidth is-size-5 is-hoverable is-striped">
            <tbody>
                <tr>
                    <th>#1</th>
                    <td>
                        <span>Michał Krawczyk</span>
                        <span class="is-icon is-medium has-text-warning">
                            <i class="fas fa-fw fa-lg fa-medal"></i>
                        </span>
                    </td>
                    <td>
                        <p class="has-text-success has-text-centered">
                            <span class="is-icon is-medium is-pulled-left">
                                <i class="fas fa-fg fa-caret-square-up"></i>
                            </span>
                            <span>(+1)</span>
                        </p>
                    </td>
                    <td>96%</td>
                </tr>
                <tr>
                    <th>#2</th>
                    <td>
                        <span>Michał Krawczyk</span>
                        <span class="is-icon is-medium has-text-grey-light">
                            <i class="fas fa-fw fa-lg fa-medal"></i>
                        </span>
                    </td>
                    <td>
                        <p class="has-text-success has-text-centered">
                            <span class="is-icon is-medium is-pulled-left">
                                <i class="fas fa-fg fa-caret-square-up"></i>
                            </span>
                            <span>(+1)</span>
                        </p>
                    </td>
                    <td>93%</td>
                </tr>
                <tr>
                    <th>#3</th>
                    <td>
                        <span>Michał Krawczyk</span>
                        <span class="is-icon is-medium" style="color: #CD7F32">
                            <i class="fas fa-fw fa-lg fa-medal"></i>
                        </span>
                    </td>
                    <td>
                        <p class="has-text-danger has-text-centered">
                            <span class="is-icon is-medium is-pulled-left">
                                <i class="fas fa-fg fa-caret-square-down"></i>
                            </span>
                            <span>(-2)</span>
                        </p>
                    </td>
                    <td>89%</td>
                </tr>
                <tr>
                    <th>#4</th>
                    <td>
                        <span>Michał Krawczyk</span>
                    </td>
                    <td>
                        <p class="has-text-danger has-text-centered">
                            <span class="is-icon is-medium is-pulled-left">
                                <i class="fas fa-fg fa-caret-square-down"></i>
                            </span>
                            <span>(-2)</span>
                        </p>
                    </td>
                    <td>88%</td>
                </tr>
                <tr>
                    <th>#5</th>
                    <td>
                        <span>Michał Krawczyk</span>
                    </td>
                    <td>
                        <p class="has-text-success has-text-centered">
                            <span class="is-icon is-medium is-pulled-left">
                                <i class="fas fa-fg fa-caret-square-up"></i>
                            </span>
                            <span>(+2)</span>
                        </p>
                    </td>
                    <td>87%</td>
                </tr>
                <tr>
                    <th>#6</th>
                    <td>
                        <span>Michał Krawczyk</span>
                    </td>
                    <td>
                        <p class="has-text-danger has-text-centered">
                            <span class="is-icon is-medium is-pulled-left">
                                <i class="fas fa-fg fa-caret-square-down"></i>
                            </span>
                            <span>(-1)</span>
                        </p>
                    </td>
                    <td>84%</td>
                </tr>
                <tr>
                    <th>#7</th>
                    <td>
                        <span>Michał Krawczyk</span>
                    </td>
                    <td>
                        <p class="has-text-danger has-text-centered">
                            <span class="is-icon is-medium is-pulled-left">
                                <i class="fas fa-fg fa-caret-square-down"></i>
                            </span>
                            <span>(-1)</span>
                        </p>
                    </td>
                    <td>82%</td>
                </tr>
            </tbody>
        </table>
    </p>
</article>