{% extends 'hallOfFameClient/base.html' %}
{% load static %}
{% block content %}
    {#{{ forloop.counter }}#}
    {% include 'hallOfFameClient/user_hero.html' with username=username color="is-primary" pageName=subject.name %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'student:dashboard' %}" aria-current="page">dashboard</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ subject.name }}</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section
            style='min-height: 79vh; background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns">
            <div class="column is-4 is-offset-1">
                {% include 'hallOfFameClient/student_assignments_panel.html' with groupName="2BC" %}
            </div>
            <div class="column is-6">
                {% include 'hallOfFameClient/group_ranks_panel.html' %}
            </div>
        </div>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                {% include 'hallOfFameClient/group_ranks_chart.html' with chartName="Group Ranking Timeline" chartID="rankChart" %}
            </div>
        </div>
    </section>
{% endblock %}