{% extends 'hallOfFameClient/base_site.html' %}
{% load hallOfFame_extra %}
{% load static %}
{% block title %}{{ subject.name }}{% endblock %}
{% block hero %}
  {% with groupsCtx.username as username %}
  {{block.super}}
  {% endwith %}
{% endblock %}
{% block herotitle %}{{ subject.name }}{% endblock %}
{% block breadcrumb %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'lecturer:dashboard' %}">Home</a></li>
                    <li><a href="{% url 'lecturer:client' %}" aria-current="page">{{ subject.name }}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ groupsCtx.group_names }}</a></li>
                    <li class="is-active"><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}
{% block content %}
{#    <p>{{ subject.description }}</p>#}
<section
            style='min-height: 79vh; background-image: url("{% static 'img/spiral-cut.png' %}"); background-position: bottom; background-repeat: no-repeat; background-size:30%;'
            class="section">
            {% if msg %}
                <article class="message is-success">
                    <div class="message-body">
                    {{msg}}
                    </div>
                </article>
            {% endif %}
            <div class="columns is-centered">
                <div class="column is-four-fifths tile is-ancestor is-vertical">
                {% for k,group in groupsCtx.ctx_list.items %}
                {% include 'hallOfFameClient/includes/group_tab_grades_tile.html' with group=group subject=subject  %}
                {% endfor %}
                </div>
            </div>
        </div>
    </section>


    {{ temp }}


    <script>
        const scoreFields = document.querySelectorAll('.score_field');
        const form = document.querySelector('#updateScoresForm');

        let changes = {};

        scoreFields.forEach(field => {
            field.addEventListener('change', function (e) {
                field.classList.add("changed");
                changes[field.name] = true;
            });
        });

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            document.querySelector('input[name="change_info"]').value = JSON.stringify(changes);
            form.submit();

        });
    </script>

{% endblock %}