<article class="panel is-dark">
    <div class="panel-heading is-size-3 has-text-centered has-text-light" style="border-bottom: 4px solid #00D1B2; background: rgb(0,82,69);">
        <p class="has-text-centered">
            Courses
        </p>
    </div>
    <div class="panel-block has-text-light is-block" style="border-bottom: 2px solid #f5f5f5; background: rgb(0,82,69);">
        <nav class="level is-fullwidth">
            <div class="level-item has-text-centered has-text-light">
                <div>
                    <p class="heading">My Courses</p>
                    <a class="title has-text-light is-size-1">
                        {{ subjects|length }}
                    </a>
                </div>
            </div>
            <div>
                <span class="icon is-large is-size-4 has-text-primary">
                    <i class="fas fa-5x fa-university"></i>
                </span>
            </div>
            <div class="level-item has-text-centered has-text-light">
                <div>
                    <p class="heading">Total ETCS</p>
                    <a class="title has-text-light is-size-1">
                        {{ totaletcs|default:30 }}
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <p class="panel-block has-text-light" style="background: rgb(0,82,69);">
    </p>
    <div class="panel-block is-block is-paddingless table-container">
        <table class="table card is-striped is-hoverable is-fullwidth">
            <thead>
            <tr class="is-bold" style="background: #ebfffc">
                <th></th>
                <th><abbr title="Name of the subject">Subject</abbr></th>
                <th><abbr title="Description of the subject">Description</abbr></th>
                <th><abbr title="ETCS points value">ETCS</abbr></th>
            </tr>
            </thead>
            <tbody>
            {% for sub in subjects %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td class="is-paddingless is-fullheight">
                        <a href="{% url 'student:subject' sub.id %}" style="background: none; border: none;"
                           class="has-text-left button is-block is-fullheight is-fullwidth is-radiusless">
                            {{ sub.name }}
                        </a>
                    </td>
                    <td>
                        <p class="is-info">{{ sub.description }}</p>
                    </td>
                    <td>
                        <p class="is-info">{{ sub.etcs }}</p>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">
                        <h1 class="subtitle">No subjects yet.</h1>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</article>