<article class="panel is-danger">
    <p class="panel-heading is-size-3 navbar has-shadow has-text-centered has-text-light">
            <span style="width: 100%; text-align: center;">
                Group {{ groupName }}
            </span>
    </p>
    <a class="panel-block has-text-light has-background-danger">
        {{ longDescription }}
    </a>
    <p class="panel-tabs is-size-6 ">
        <a class="is-active">
            <span class="icon is-small">
                <i class="fas fa-user-check"></i>
            </span>
            <span>Checked Assignments</span>
        </a>
        <a>
            <span class="icon is-small">
                <i class="fas fa-user-clock"></i>
            </span>
            <span>Pending Assignments</span>
        </a>
    </p>
    <a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth is-vcentered">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 1
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        4
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        80%
                    </p>
                </div>
            </div>
        </nav>
    </a>
    <a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 2
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        4.5
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        90%
                    </p>
                </div>
            </div>
        </nav>
    </a>
    <a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 3
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        4
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        80%
                    </p>
                </div>
            </div>
        </nav>
    </a><a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 4
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        3.5
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        70%
                    </p>
                </div>
            </div>
        </nav>
    </a>
    <a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Test 1
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        3
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        50%
                    </p>
                </div>
            </div>
        </nav>
    </a><a class="panel-block is-block">
        <nav class="level is-fullwidth">
            <div class="level-item column is-one-fifth">
                <span>
                    <i class="far fa-flag" aria-hidden="true"></i>
                </span>
                <span>
                    Exercise 5
                </span>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Note</p>
                    <p class="title">
                        3.5
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Percentage</p>
                    <p class="title">
                        80%
                    </p>
                </div>
            </div>
        </nav>
    </a>
</article>