{% extends 'hallOfFameClient/base.html' %}
{% load static %}
{% block content %}
    {% include 'hallOfFameClient/hero.html' with username=username %}
    <section style="padding: 1rem" class="section card">
        <div class="container">
            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#">dashboard</a></li>
                    <li class="is-active"><a href="#" aria-current="page">subjects</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section
            style='background-image: url("{% static 'img/spiral.png' %}"); background-position: 25% 130%; background-repeat: no-repeat; background-size:30%;'
            class="section">
        <div class="columns">
            <div class="column is-6 is-offset-1">
                <article class="message">
                    <div class="message-body">
                        <h1 class="title">Your subjects</h1>
                        <div class="table-container">
                            <table class="table is-striped is-hoverable is-fullwidth is-bordered">
                                <thead>
                                <tr>
                                    <th><abbr title="Name of the subject">Subject</abbr></th>
                                    <th><abbr title="Description of the subject">Description</abbr></th>
                                    <th><abbr title="ETCS points value">ETCS</abbr></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sub in object_list %}
                                    <tr>
                                        <td>
                                            <p class="is-info">{{ sub.name }}</p>
                                        </td>
                                        <td>
                                            <p class="is-info">{{ sub.description }}</p>
                                        </td>
                                        <td>
                                            <p class="is-info">{{ sub.etcs }}</p>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">
                                            <h1 class="subtitle">No subjects yet.</h1>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-4">
                <article class="message is-primary">
                    <div class="message-header">
                        <h1 class="title has-text-light">Last notes</h1>
                    </div>
                    <div class="message-body">
                        <figure class="image is-3by2">
                            <img src="{{ diagramUrl }}">
                        </figure>
                    </div>
                </article>
                <article class="message is-primary">
                    <div class="message-header">
                        <h1 class="title has-text-light">Statistics</h1>
                    </div>
                    <div class="message-body">
                        <div class="columns is-centered">
                            <div class="column is-center
                            is-three-quarters-desktop is-fullwidth-tablet is-three-fifths-mobile is-offset-one-fifth-mobile
                            is-vertical">
                                <div class="card notification">
                                    <div class="container has-text-centered">
                                        <p style="font-size: 5.5rem" class="title">{{ myAverage }}%</p>
                                        <p class="subtitle">My Average</p>
                                    </div>
                                </div>
                                <div class="card notification">
                                    <div class="container has-text-centered">
                                        <p style="font-size: 3.5rem" class="title">{{ semesterAverage }}%</p>
                                        <p class="subtitle is-6">Overall Average</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}