{% load static %}
<section class="hero is-{{ color }} is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    {% if color == "is-primary" %}
                    <a href="{% url "student:dashboard" %}" class="navbar-item">
                        <img src="{% static 'img/ostatniLearningPrimary.png' %}" alt="Logo">
                    {% else %}
                    <a href="#" class="navbar-item">
                        <img src="{% static 'img/ostatniLearningInfo.png' %}" alt="Logo">
                    {% endif %}
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item has-text-light">
                            <span class="is-size-5" style="margin-right: .5rem">{{ username }}</span>
                            <span class="icon">
                                <i class="fas fa-lg fa-user-cog"></i>
                            </span>
                        </a>
                        <span class="navbar-item">
                            <a href="{% url "world:main" %}" class="button {{ color }} is-inverted">
                                <span class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span>Sign out</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title heading is-size-1 has-text-centered">
                {{ pageName }}
            </h1>
        </div>
    </div>
</section>