{% extends 'hallOfFameClient/base.html' %}
{% load static %}
{% block content %}
    <section class="section is-fullwidth is-overlay has-background-light" style="overflow: hidden">
        <div class="columns is-desktop is-vcentered is-overlay">
            <div class="column is-offset-2-fullhd is-8-fullhd is-offset-1-tablet is-10-tablet is-12-mobile">
                <div class="field has-addons has-addons-fullwidth">
                    <p class="control">
                        <a href="{% url "lecturer:login" %}" class="button is-info is-fullwidth" style="font-size: 12rem;">
                            <span>
                                <i class="fas fa-lg fa-user-tie"></i>
                                <label class="has-text-white label title is-size-1">Lecturer</label>
                            </span>
                        </a>
                    </p>
                    <p class="control">
                        <a href="{% url "student:dashboard" %}" class="button is-primary is-fullwidth" style="font-size: 10rem; padding: 20rem 0;">
                            <span>
                                <i class="fas fa-lg fa-user-graduate"></i>
                                <label class="has-text-white label title is-size-1">Student</label>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
