{% load static %}
<script src="{% static 'js/Chart.min.js' %}"></script>
{% comment %}https://www.chartjs.org/docs/latest/{% endcomment %}
<script src="{% static 'js/jsspectrum.min.js' %}"></script>
{% comment %}https://gist.github.com/ibrechin/2489005#file-jsspectrum-js{% endcomment %}
<script src="{% static 'js/functions.js' %}"></script>
<p class="panel-block is-block" style="padding-right: 8%">
    <canvas id="{{ chart_ID }}" width="400" height="300"></canvas>
</p>
{#<article class="message is-darker">#}
{#    <div class="message-header">#}
{#        <h1 style="width: 100%; text-align: center;" class="title has-text-light is-inline">{{ chartName }}</h1>#}
{#    </div>#}
{#    <div class="message-body">#}
{#    </div>#}
{#</article>#}
{{ chart_data|json_script:id_data }}
<script>
    {
        let chartData = JSON.parse(document.getElementById('{{ id_data }}').textContent);
        var ctx = document.getElementById('{{ chart_ID }}').getContext('2d');
        console.log(chartData);
        var myData = [];
        var groups = [];
        for(let g of chartData)
        {
            myData.push(g.mean_value);
            groups.push(g.name);
        }
        var colors = getEvenlySpacedColors(myData);
// shift colors
        for (let i = 0; i < parseInt(colors.length / 3.5); i++)
            arrayRotate(colors, true)

        for (let i = 0; i < parseInt(colors.length) / 2 - 1; i++)
            colors[i] = "rgb(191, 63, 86)"


// create array of bars colors
        var colors2 = [];
        let min = Math.min.apply(null, myData);
        for (let i = 0; i < myData.length; i++) {
            let item = myData[i];
            colors2.push(colors[parseInt(item - min)])
        }


        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: groups,
                datasets: [{
                    label: false,
                    data: myData,
                    backgroundColor: colors2,
                    borderColor: colors2,
                    borderWidth: 1
                }
                ]
            },
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return `${tooltipItem.yLabel.toFixed(2)}%`;
                        }
                    }

                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Percentage'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Group'
                        }
                    }]
                }
            }
        });
    }
</script>